<div class="obsidian-tab-contents tab" data-group="feats-tabs" data-tab="{{group}}">
	<h3>
		{{localize title}}
		<a title="{{localize 'OBSIDIAN.AddCustom'}}" class="obsidian-edit obsidian-add-feat"
		   data-active="{{active}}" data-source="{{group}}">
			{{localize 'OBSIDIAN.AddCustom'}}
		</a>
	</h3>
	<div class="obsidian-feature-list">
		{{> modules/obsidian/html/components/features.html
				feats=(filter actor.obsidian.feats 'flags.obsidian.source.type' group)}}
	</div>
</div>
