<form class="obsidian obsidian-form-bare" autocomplete="off">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.HP'}}</legend>
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					<input type="text" name="data.attributes.hp.max" value="{{base.data.attributes.hp.max}}"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
					       data-dtype="Number">
					<span>{{localize 'OBSIDIAN.MaxHP'}}</span>
				</label>
				<span class="obsidian-binary-operator">&plus;</span>
				<label class="obsidian-inline">
					<input type="text" name="flags.obsidian.attributes.hpMaxMod"
					       value="{{actor.flags.obsidian.attributes.hpMaxMod}}" data-dtype="Number"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-md">
				</label>
			</div>
		</div>
	</fieldset>
</form>
