<form class="obsidian obsidian-form-bare" autocomplete="off" onsubmit="event.preventDefault();">
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth"
		     style="display: flex; justify-content: space-between; align-items: center">
			<button type="button" class="obsidian-btn-outline obsidian-btn-compact">
				{{localize 'OBSIDIAN.Use'}}
			</button>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" value="1">
			<span class="obsidian-binary-operator">&sol;</span>
			<span class="obsidian-feature-max{{#if (lt available 1)}} obsidian-negative{{/if}}">
				{{available}}
			</span>
		</div>
	</div>
</form>
