<form class="obsidian" autocomplete="off">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Senses'}}</legend>
		{{#each ObsidianRules.SENSES as |sense|}}
			<div class="obsidian-form-row obsidian-inline">
				<label class="obsidian-inline">
					<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-md" type="text"
					       name="flags.obsidian.attributes.senses.{{sense}}.radius" data-dtype="Number"
					       value="{{#with (lookup ../actor.flags.obsidian.attributes.senses sense)}}
						       {{~radius~}}
					       {{/with}}">
					<span>{{i18n-join 'OBSIDIAN.Sense-' sense}}</span>
				</label>
			</div>
		{{/each}}
	</fieldset>
	{{#unless dialogOptions.npc}}
	<label class="obsidian-inline obsidian-label-lg">
		{{localize 'OBSIDIAN.PassiveDisplay'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-passive">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each actor.flags.obsidian.skills.passives as |passive id|}}
		<div class="obsidian-form-row obsidian-inline">
			<select>
				{{#select passive}}
					{{#each ../actor.obsidian.skills as |skill id|}}
						<option value="{{id}}">{{skill.label}}</option>
					{{/each}}
				{{/select}}
			</select>
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-passive"
			        data-row-id="{{id}}">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
	{{/unless}}
</form>
