<form class="obsidian obsidian-form-bare" autocomplete="off">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Speed'}}</legend>
		{{#unless dialogOptions.npc}}
			<div class="obsidian-form-row">
				<label class="obsidian-inline">
					<select name="flags.obsidian.attributes.speedDisplay">
						{{#select actor.flags.obsidian.attributes.speedDisplay}}
							{{#each ObsidianRules.SPEEDS as |id|}}
								<option value="{{id}}">{{i18n-join 'OBSIDIAN.Speed-' id}}</option>
							{{/each}}
						{{/select}}
					</select>
					<span>{{localize 'OBSIDIAN.DisplaySpeed'}}</span>
				</label>
			</div>
		{{/unless}}
		{{#each ObsidianRules.SPEEDS as |id|}}
			<div class="obsidian-form-row obsidian-inline">
				<div class="obsidian-flex">
					<label class="obsidian-inline">
						<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
						       name="data.attributes.movement.{{id}}" data-dtype="Number" type="text"
						       value="{{lookup ../data.attributes.movement id}}">
						<span>{{i18n-join 'OBSIDIAN.Speed-' id}}</span>
					</label>
					{{#if (eq id 'fly')}}
						{{fancy-checkbox 'data.attributes.movement.hover' content='OBSIDIAN.Hover'
						                 checked=../data.attributes.movement.hover}}
					{{/if}}
				</div>
			</div>
		{{/each}}
	</fieldset>
</form>
