<form class="obsidian" autocomplete="off">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Tools'}}</legend>
		<div class="obsidian-checkbox-grid">
			{{#each ObsidianRules.PROF_TOOLS as |tool|}}
				{{#with (lookup ../actor.obsidian.tools tool)}}
					{{fancy-checkbox 'flags.obsidian.tools' key 'enabled' checked=enabled
					                 content=(add 'OBSIDIAN.ToolProf-' key)}}
				{{/with}}
			{{/each}}
		</div>
	</fieldset>
	<fieldset>
		<legend>{{localize 'OBSIDIAN.ToolProf-game'}}</legend>
		<div class="obsidian-checkbox-grid">
			{{#each ObsidianRules.PROF_TOOLS_GAME as |tool|}}
				{{#with (lookup ../actor.obsidian.tools tool)}}
					{{fancy-checkbox 'flags.obsidian.tools' key 'enabled' checked=enabled
					                 content=(add 'OBSIDIAN.ToolProf-' key)}}
				{{/with}}
			{{/each}}
		</div>
	</fieldset>
	<fieldset>
		<legend>{{localize 'OBSIDIAN.ToolProf-music'}}</legend>
		<div class="obsidian-checkbox-grid">
			{{#each ObsidianRules.PROF_TOOLS_INSTRUMENT as |tool|}}
				{{#with (lookup ../actor.obsidian.tools tool)}}
					{{fancy-checkbox 'flags.obsidian.tools' key 'enabled' checked=enabled
					                 content=(add 'OBSIDIAN.ToolProf-' key)}}
				{{/with}}
			{{/each}}
		</div>
	</fieldset>
	<fieldset>
		<legend>{{localize 'OBSIDIAN.ToolProf-art'}}</legend>
		<div class="obsidian-checkbox-grid">
			{{#each ObsidianRules.PROF_TOOLS_ARTISAN as |tool|}}
				{{#with (lookup ../actor.obsidian.tools tool)}}
					{{fancy-checkbox 'flags.obsidian.tools' key 'enabled' checked=enabled
					                 content=(add 'OBSIDIAN.ToolProf-' key)}}
				{{/with}}
			{{/each}}
		</div>
	</fieldset>
	<fieldset style="margin-bottom: 10px;">
		<legend>
			{{localize 'OBSIDIAN.Custom'}}
			<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-tool">
				{{localize 'OBSIDIAN.Add'}}
			</button>
		</legend>
		{{#each actor.flags.obsidian.tools.custom as |tool id|}}
			<input type="hidden" name="flags.obsidian.tools.custom.{{id}}.custom" value="true"
			       data-dtype="Boolean">
			<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline" data-item-id="{{id}}">
				<div>
					<select name="flags.obsidian.tools.custom.{{id}}.value" data-dtype="Number">
						{{#select tool.value}}
							{{#each @root.ObsidianRules.PROFICIENCY_LEVELS}}
								<option value="{{@key}}">
									{{i18n-join 'OBSIDIAN.Proficiency-' this}}
								</option>
							{{/each}}
						{{/select}}
					</select>
					<select name="flags.obsidian.tools.custom.{{id}}.ability"
					        style="text-transform: uppercase;">
						{{#select (lc tool.ability)}}
							{{#each @root.ObsidianRules.ABILITIES}}
								<option value="{{this}}">{{i18n-join 'OBSIDIAN.AbilityAbbr-' this}}</option>
							{{/each}}
						{{/select}}
					</select>
					<input class="obsidian-input-compact" type="text" value="{{tool.label}}"
					       placeholder="{{localize 'OBSIDIAN.Tool'}}"
					       name="flags.obsidian.tools.custom.{{id}}.label">
					<span class="obsidian-binary-operator">&plus;</span>
					<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm" type="text"
					       placeholder="0" value="{{tool.bonus}}" data-dtype="Number"
					       name="flags.obsidian.tools.custom.{{id}}.bonus">
				</div>
				<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-tool">
					{{localize 'OBSIDIAN.Remove'}}
				</button>
			</div>
		{{/each}}
	</fieldset>
</form>
