<form class="obsidian obsidian-form-bare" autocomplete="off" onsubmit="event.preventDefault();">
	<fieldset>
		<legend>{{localize 'OBSIDIAN.Actions'}}</legend>
		<div class="obsidian-form-row">
			<div class="obsidian-multiline-input" data-placeholder="{{localize 'OBSIDIAN.ActionRules'}}"
			     contenteditable="true" data-edit="flags.obsidian.actions">{{{actor.flags.obsidian.actions}}}</div>
		</div>
	</fieldset>
	<div class="form-group">
		<label>{{localize 'OBSIDIAN.AddFeature'}}</label>
		<select>
			{{#each featureList}}
				<option value="{{this}}">{{i18n-join 'OBSIDIAN.Feat-' this}}</option>
			{{/each}}
		</select>
	</div>
	<div class="obsidian-btn-row" style="margin-top: 8px;">
		<button type="button" class="obsidian-btn-outline">
			<i class="fas fa-check"></i>
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</div>
</form>
