<form class="obsidian obsidian-form-bare" autocomplete="off">
	<div class="obsidian-item-card">
		<div class="obsidian-item-card-header">
			<h3>{{item.name}}</h3>
			<div class="obsidian-item-card-sub-header">
				{{#each item.obsidian.notes}}
					<div class="obsidian-table-note-text">{{{this}}}</div>
				{{/each}}
			</div>
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Damage'}}:</div>
				<div class="obsidian-item-card-header-value">
					{{#each item.obsidian.collection.damage}}
						<div class="obsidian-icon-value">
							{{display}}
							<div class="obsidian-icon-sm obsidian-icon-{{damage}}"
							     title="{{i18n-join 'OBSIDIAN.Damage-' damage}}"></div>
						</div>
					{{/each}}
				</div>
			</div>
			{{#if item.flags.obsidian.tags.versatile}}
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Versatile'}}</div>
				<div class="obsidian-item-card-header-value">
					{{#each item.obsidian.collection.versatile}}
						<div class="obsidian-icon-value">
							{{display}}
							<div class="obsidian-icon-sm obsidian-icon-{{damage}}"
							     title="{{i18n-join 'OBSIDIAN.Damage-' damage}}"></div>
						</div>
					{{/each}}
				</div>
			</div>
			{{/if}}
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Weight'}}:</div>
				<div class="obsidian-item-card-header-value">
					{{item.data.weight}}
					<span class="obsidian-table-unit">{{localize 'OBSIDIAN.PoundsAbbr'}}</span>
				</div>
			</div>
			<div class="obsidian-item-card-header-row">
				<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Cost'}}:</div>
				<div class="obsidian-item-card-header-value obsidian-icon-value">
					{{number-format item.data.price}}
					<i class="obsidian-icon-sm obsidian-icon-gp"></i>
				</div>
			</div>
		</div>
		<div class="obsidian-item-card-body">{{{clean-formatting item.data.description.value}}}</div>
	</div>
</form>
