<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.Attack'}}</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth obsidian-checkbox-row">
			<select name="{{prefix}}.attack" data-selector="{{prefix}}.attack">
				{{#select attack}}
					{{#each @root.ObsidianRules.ATTACK_TYPES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.AttackType-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<select name="{{prefix}}.category">
				{{#select category}}
					{{#each @root.ObsidianRules.EFFECT_ATTACK_CATS}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.AttackCat-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<select name="{{prefix}}.ability">
				{{#select ability}}
					<option value="">&mdash;</option>
					{{#each @root.ObsidianRules.EFFECT_ABILITIES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" name="{{prefix}}.bonus" value="{{bonus}}">
			<label class="obsidian-inline">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       name="{{prefix}}.crit" value="{{crit}}" placeholder="20">
				<span>{{localize 'OBSIDIAN.Crit'}}</span>
			</label>
			{{fancy-checkbox (add prefix '.proficient') content='OBSIDIAN.Proficiency-prof'
			                 checked=proficient}}
		</div>
	</div>
	{{log @root}}
	{{#unless @root.isCharacter}}
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-stacked-row obsidian-inline">
		{{#unless (eq @root.item.type 'weapon')}}
		<label class="obsidian-inline" data-selector-parent="{{prefix}}.attack" data-show="melee">
			{{localize 'OBSIDIAN.Reach'}}
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" name="{{prefix}}.reach" value="{{reach}}" placeholder="5">
		</label>
		<label class="obsidian-inline" data-selector-parent="{{prefix}}.attack" data-show="ranged">
			{{localize 'OBSIDIAN.Range'}}
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
			       data-dtype="Number" name="{{prefix}}.range1" value="{{range1}}">
		</label>
		<span class="obsidian-binary-operator" data-selector-parent="{{prefix}}.attack"
		      data-show="ranged">
			&sol;
		</span>
		<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
		       data-dtype="Number" name="{{prefix}}.range2" value="{{range2}}" data-show="ranged"
		       data-selector-parent="{{prefix}}.attack">
		{{/unless}}
		<input type="text" class="obsidian-input-compact obsidian-input-lg" name="{{prefix}}.target"
		       style="flex: 1; max-width: none;" value="{{target}}"
		       placeholder="{{localize 'OBSIDIAN.Target'}}">
	</div>
	{{/unless}}
	{{#if extraBonus}}
		{{> modules/obsidian/html/components/effects/bonus-body.html extraBonus stacked=true
				prefix=(add prefix '.extraBonus') attack=true}}
	{{/if}}
	{{#if rollMod}}
		{{> modules/obsidian/html/components/effects/roll-mod-body.html rollMod stacked=true
				prefix=(add prefix '.rollMod') attack=true}}
	{{/if}}
</fieldset>
