<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.ConsumesResource'}}</legend>
  <div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
    <div class="obsidian-fullwidth">
	    <label class="obsidian-inline">
		    {{localize 'OBSIDIAN.Resource'}}
	      <select name="{{prefix}}.target" data-selector="{{prefix}}.target">
	        {{#select target}}
		        <option value="this-effect">{{localize 'OBSIDIAN.ConsumeTarget-this-effect'}}</option>
		        <option value="this-item">{{localize 'OBSIDIAN.ConsumeTarget-this-item'}}</option>
	          {{#if @root.actor}}
		        <option value="item">{{localize 'OBSIDIAN.ConsumeTarget-item'}}</option>
		        <option value="feat">{{localize 'OBSIDIAN.ConsumeTarget-feat'}}</option>
	          {{/if}}
		        <option value="spell">{{localize 'OBSIDIAN.ConsumeTarget-spell'}}</option>
		        <option value="qty">{{localize 'OBSIDIAN.ConsumeTarget-qty'}}</option>
	        {{/select}}
	      </select>
	    </label>
	    {{#if @root.actor}}
      <select name="{{prefix}}.itemID" data-selector-parent="{{prefix}}.target" data-show="item">
        {{#select itemID}}
	        {{#each @root.itemsWithResources}}
		        <option value="{{_id}}">{{name}}</option>
	        {{/each}}
        {{/select}}
      </select>
	    <select name="{{prefix}}.featID" data-selector-parent="{{prefix}}.target" data-show="feat">
		    {{#select featID}}
			    {{#each @root.featsWithResources}}
				    <option value="{{_id}}">{{name}}</option>
			    {{/each}}
		    {{/select}}
	    </select>
	    {{/if}}
	    <select name="{{prefix}}.ref" data-selector-parent="{{prefix}}.target" data-hide="spell, qty">
		    {{#select ref}}
			    {{#each itemResourceComponents}}
				    {{#if (or (not (eq ../target 'this-effect')) (eq parentEffect ../parentEffect))}}
					    <option value="{{uuid}}">{{label}}</option>
				    {{/if}}
			    {{/each}}
		    {{/select}}
	    </select>
	    <select name="{{prefix}}.slots" data-selector-parent="{{prefix}}.target" data-show="spell"
	            data-selector="{{prefix}}.slots">
		    {{#select slots}}
			    {{#each @root.ObsidianRules.EFFECT_CONSUME_SLOTS}}
				    <option value="{{this}}">{{i18n-join 'OBSIDIAN.ConsumeSlots-' this}}</option>
			    {{/each}}
		    {{/select}}
	    </select>
	    <select name="{{prefix}}.class" data-selector-parent="{{prefix}}.slots" data-show="class">
		    {{#select class}}
			    {{#each @root.actor.data.obsidian.classes}}
				    <option value="{{_id}}">{{obsidian.label}}</option>
			    {{/each}}
		    {{/select}}
	    </select>
    </div>
  </div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline"
	     data-selector-parent="{{prefix}}.target" data-hide="spell">
		<div class="obsidian-fullwidth">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Amount'}}
				<select name="{{prefix}}.calc" data-selector="{{prefix}}.calc">
					{{#select calc}}
						{{#each @root.ObsidianRules.EFFECT_CONSUME_CALC}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.ConsumeCalc-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" name="{{prefix}}.fixed" value="{{fixed}}"
			       data-selector-parent="{{prefix}}.calc" data-show="fixed">
		</div>
	</div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline"
	     data-selector-parent="{{prefix}}.target" data-show="spell">
		<div class="obsidian-fullwidth">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.MinSlotLevel'}}
				<select name="{{prefix}}.slot" data-dtype="Number">
					{{#select slot}}
						{{#each (range 1 9)}}
							<option value="{{this}}">{{spell-level-format this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
		</div>
	</div>
</fieldset>
