<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.Scaling'}}</legend>
  <div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
	  <div class="obsidian-fullwidth">
		  <label class="obsidian-inline">
			  {{localize 'OBSIDIAN.Effect'}}
			  <select name="{{prefix}}.ref">
				  {{#select ref}}
					  {{#each @root.item.flags.obsidian.effects}}
						  <option value="{{uuid}}">{{effect-label this}}</option>
					  {{/each}}
				  {{/select}}
			  </select>
		  </label>
	    <label class="obsidian-inline">
	      {{localize 'OBSIDIAN.Method'}}
	      <select name="{{prefix}}.method" data-selector="{{prefix}}.method">
	        {{#select method}}
		        {{#each @root.ObsidianRules.EFFECT_SCALING_METHODS}}
			        <option value="{{this}}">{{i18n-join 'OBSIDIAN.Scaling-' this}}</option>
		        {{/each}}
	        {{/select}}
	      </select>
	    </label>
		  {{#if @root.actor}}
		    <select name="{{prefix}}.class" data-show="class" data-selector-parent="{{prefix}}.method">
			    {{#select class}}
				    {{#each @root.actor.data.obsidian.classes}}
					    <option value="{{_id}}">{{obsidian.label}}</option>
				    {{/each}}
			    {{/select}}
		    </select>
		  {{else}}
			  <input type="text" class="obsidian-input-compact" name="{{prefix}}.text" value="{{text}}"
			         placeholder="{{localize 'OBSIDIAN.Class'}}" data-show="class"
			         data-selector-parent="{{prefix}}.method">
		  {{/if}}
	  </div>
  </div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline"
	     data-selector-parent="{{prefix}}.method" data-hide="cantrip">
		<div class="obsidian-fullwidth">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Threshold'}}
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       name="{{prefix}}.threshold" value="{{threshold}}" placeholder="&mdash;"
				       data-dtype="Number">
			</label>
		</div>
	</div>
</fieldset>
