<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.SetScore'}}</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth obsidian-checkbox-row">
			<label class="obsidian-inline">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       data-dtype="Number" name="{{prefix}}.score" value="{{score}}" placeholder="0">
				<span>{{localize 'OBSIDIAN.Score'}}</span>
			</label>
			{{fancy-checkbox prefix 'min' content='OBSIDIAN.NoEffectIfHigher' checked=min}}
		</div>
	</div>
</fieldset>
