<fieldset>
	<legend>{{localize 'OBSIDIAN.Feature'}}</legend>
	<div class="obsidian-form-row-img">
		<div>
			<img class="profile" src="{{item.img}}" alt="{{item.name}}" data-edit="img">
		</div>
		<div>
		  <div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		    <div class="obsidian-fullwidth">
		      <input type="text" class="obsidian-input-compact obsidian-input-lg" name="name"
		             value="{{item.name}}" placeholder="{{localize 'OBSIDIAN.Feature'}}">
			    <input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			           data-dtype="Number" name="data.activation.cost" placeholder="1"
			           value="{{data.activation.cost}}" data-show="legendary"
			           data-selector-parent="activation">
			    <select name="data.activation.type" data-selector="activation">
				    {{#select item.data.activation.type}}
					    {{#each ObsidianRules.FEAT_ACTION}}
						    <option value="{{this}}">{{i18n-join 'OBSIDIAN.FeatAction-' this}}</option>
					    {{/each}}
					    {{#if isNPC}}
						    <option value="legendary">{{localize 'OBSIDIAN.FeatAction-legendary'}}</option>
						    <option value="lair">{{localize 'OBSIDIAN.FeatAction-lair'}}</option>
					    {{/if}}
				    {{/select}}
			    </select>
			    <select name="flags.obsidian.trigger" data-selector-parent="activation"
			            data-show="special">
				    {{#select item.flags.obsidian.trigger}}
					    <option value="">&mdash;</option>
					    {{#each ObsidianRules.FEAT_TRIGGERS}}
						    <option value="{{this}}">{{i18n-join 'OBSIDIAN.Trigger-' this}}</option>
					    {{/each}}
				    {{/select}}
			    </select>
		    </div>
		  </div>
			<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
				<div class="obsidian-fullwidth">
					<label class="obsidian-inline">
						{{localize 'OBSIDIAN.Source'}}
						<select name="flags.obsidian.source.type" data-selector="source">
							{{#select item.flags.obsidian.source.type}}
								{{#each ObsidianRules.FEAT_SOURCE_TYPES}}
									<option value="{{this}}">{{i18n-join 'OBSIDIAN.FeatSrc-' this}}</option>
								{{/each}}
							{{/select}}
						</select>
					</label>
					{{#if actor}}
					<select name="flags.obsidian.source.class" data-selector-parent="source"
					        data-show="class">
						{{#select item.flags.obsidian.source.class}}
							{{#each actor.data.obsidian.classes}}
								<option value="{{_id}}">{{obsidian.label}}</option>
							{{/each}}
						{{/select}}
					</select>
					{{else}}
					<input type="text" class="obsidian-input-compact" name="flags.obsidian.source.text"
					       value="{{item.flags.obsidian.source.text}}" data-selector-parent="source"
					       placeholder="{{localize 'OBSIDIAN.Class'}}" data-show="class">
					{{/if}}
					<input type="text" class="obsidian-input-compact obsidian-input-lg" data-show="other"
					       data-selector-parent="source" name="flags.obsidian.source.other"
					       value="{{item.flags.obsidian.source.other}}"
					       placeholder="{{localize 'OBSIDIAN.Source'}}">
				</div>
			</div>
		</div>
	</div>
	{{#if isVehicle}}
		<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					{{localize 'DND5E.Cover'}}
					<select name="data.cover" data-dtype="Number">
						{{#select item.data.cover}}
							{{#each config.cover}}
								<option value="{{@key}}">{{localize this}}</option>
							{{/each}}
						{{/select}}
					</select>
				</label>
			</div>
		</div>
	{{/if}}
</fieldset>
