{{#each (sort feats 'name') as |feat idx|}}
	{{#if ../component}}<section>{{/if}}
	<div class="obsidian-feature item" data-item-id="{{feat._id}}" draggable="true">
		{{#if (and ../heading (eq idx 0))}}
			<h3>{{localize ../heading}} {{format-legendary ../legendary}}</h3>
			{{#if ../subtext}}
				<div class="obsidian-rules-text">{{../subtext}}</div>
			{{/if}}
		{{/if}}
		<div class="obsidian-feature-header {{#if ../component}}obsidian-vehicle-component{{/if}}">
			<div>
				<h4 class="rollable" data-roll="item" data-id="{{feat._id}}">{{feat.name}}</h4>
				{{#if (and feat.data.cover (gt feat.data.cover 0))}}
				<div class="obsidian-feature-recharge"> &bull; {{format-cover feat.data.cover}}</div>
				{{/if}}
				<div class="obsidian-feature-recharge">{{{format-recharge @root.actor feat bull=true}}}</div>
				<a title="{{localize 'OBSIDIAN.ViewFeature'}}" class="obsidian-view"
				   data-item-id="{{feat._id}}">
					<i class="fas fa-eye"></i>
				</a>
				<a title="{{localize 'OBSIDIAN.EditFeature'}}" class="obsidian-edit item-edit">
					<i class="fas fa-edit"></i>
				</a>
				<a title="{{localize 'OBSIDIAN.Delete'}}" class="obsidian-delete">
					<i class="fas fa-trash"></i>
				</a>
			</div>
			{{#if (and @root.landVehicle (or (eq feat.data.activation.type 'action') (eq feat.type 'weapon')))}}
				<select name="items.{{feat.idx}}.flags.obsidian.crewed" class="obsidian-select-crew">
					{{#select feat.flags.obsidian.crewed}}
						<option value="">&mdash;</option>
						{{#each @root.availableCrew}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					{{/select}}
				</select>
			{{/if}}
			{{format-uses @root.actor feat}}
		</div>
		{{#if ../component}}
		<div class="obsidian-npc-stat-runon obsidian-condensed">
			<strong>{{localize 'OBSIDIAN.AC'}}</strong>
			{{feat.data.armor.value}}
		</div>
		<div class="obsidian-npc-stat-runon obsidian-npc-stat-runon-hp obsidian-condensed">
			<strong>{{localize 'OBSIDIAN.HP'}}</strong>
			<input type="text" class="obsidian-input-num obsidian-input-num-md" data-dtype="Number"
			       placeholder="0" name="items.{{feat.idx}}.data.hp.value" value="{{feat.data.hp.value}}">
			<span class="obsidian-binary-operator" style="margin-left: 10px;">&sol;</span>
			<span class="obsidian-npc-max-hp">{{feat.data.hp.max}}</span>
			{{#if feat.data.hp.dt}}
				<span class="obsidian-npc-subtle" style="margin-left: 10px;">
					{{localize 'OBSIDIAN.ThresholdAbbr'}}
					{{feat.data.hp.dt}}
				</span>
			{{/if}}
			{{#if feat.data.hp.conditions}}
				<span class="obsidian-npc-subtle">
					; {{feat.data.hp.conditions}}
				</span>
			{{/if}}
		</div>
		{{#if feat.flags.obsidian.speed}}
		<div class="obsidian-npc-stat-runon obsidian-condensed">
			<strong>{{localize 'OBSIDIAN.Speed'}}</strong>
			{{feat.data.speed.value}}
			<span class="obsidian-npc-subtle">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
			{{#if feat.data.speed.conditions}}
				<span class="obsidian-npc-subtle" style="margin-left: -3px;">
					; {{feat.data.speed.conditions}}
				</span>
			{{/if}}
		</div>
		{{/if}}
		{{/if}}
		{{#unless @root.isCharacter}}
		{{#each feat.obsidian.collection.attack}}
		<div class="obsidian-attack-line">
			<div class="obsidian-col-icon">
				{{#if (eq parentItem.type 'spell')}}
					<div class="obsidian-icon obsidian-icon-school-{{parentItem.data.school}}"></div>
				{{else if (eq parentItem.type 'weapon')}}
					<div class="
						{{#if (is-attack-toggleable this)}}
							obsidian-attack-toggle
						{{/if}} obsidian-icon obsidian-icon-{{mode}}"
					     data-uuid="{{uuid}}">
					</div>
				{{else}}
					<div class="obsidian-icon obsidian-icon-{{attack}}"></div>
				{{/if}}
			</div>
			<div class="obsidian-col-range">
				{{#if (eq mode 'ranged')}}
					<div class="obsidian-table-number-md">
						{{#if parentItem.data.range.long}}
							<div>
								{{parentItem.data.range.value}}
								<span class="obsidian-table-number-split">/</span>
							</div>
							<div>
								<span class="obsidian-table-number-minor">{{parentItem.data.range.long}}</span>
								<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
							</div>
						{{else}}
							{{parentItem.data.range.value}}
							<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
						{{/if}}
					</div>
				{{else if (eq parentItem.type 'spell')}}
					{{#if (or (eq parentItem.flags.obsidian.range.type 'short') (eq parentItem.flags.obsidian.range.type 'long'))}}
						<div class="obsidian-table-number-md">
							{{parentItem.flags.obsidian.range.n}}
							<span class="obsidian-table-unit">
								{{i18n-join 'OBSIDIAN.SpellRangeAbbr-' parentItem.flags.obsidian.range.type}}
							</span>
						</div>
					{{else if (eq parentItem.flags.obsidian.range.type 'unlimited')}}
						<div class="obsidian-table-number-md">&infin;</div>
					{{else}}
						<div class="obsidian-table-text">
							{{i18n-join 'OBSIDIAN.SpellRange-' parentItem.flags.obsidian.range.type}}
						</div>
					{{/if}}
				{{else if (eq parentItem.type 'weapon')}}
					<div class="obsidian-table-number-md">
						{{parentItem.obsidian.attributes.reach}}
						<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
					</div>
					<div class="obsidian-table-sub-text">{{localize 'OBSIDIAN.Reach'}}</div>
				{{else}}
					{{#if (eq attack 'ranged')}}
					<div class="obsidian-table-number-md">
						{{#if range2}}
							<div>
								{{range1}}
								<span class="obsidian-table-number-split">&sol;</span>
							</div>
							<div>
								<span class="obsidian-table-number-minor">{{range2}}</span>
								<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
							</div>
						{{else}}
							{{range1}}
							<span class="obsidian-table-unit">
								{{localize 'OBSIDIAN.FeetAbbr'}}
							</span>
						{{/if}}
					</div>
					{{else}}
					<div class="obsidian-table-number-md">
						{{reach}}
						<span class="obsidian-table-unit">{{localize 'OBSIDIAN.FeetAbbr'}}</span>
					</div>
					<div class="obsidian-table-sub-text">{{localize 'OBSIDIAN.Reach'}}</div>
					{{/if}}
				{{/if}}
			</div>
			<div class="obsidian-col-hit">
				<div class="obsidian-table-number-lg">
					{{numberFormat value decimals=0 sign=true}}
				</div>
			</div>
			<div class="obsidian-col-damage">
				<div class="obsidian-table-dmg">
					{{#each (which-damage parentItem this)}}
						<div class="obsidian-dmg-component">
							{{display}}
							<div class="obsidian-icon-sm obsidian-icon-{{damage}}"
							     title="{{i18n-join 'OBSIDIAN.Damage-' damage}}"></div>
						</div>
					{{/each}}
				</div>
			</div>
			<div class="obsidian-col-notes">
				<div class="obsidian-table-note-text">{{target}}</div>
			</div>
		</div>
		{{/each}}
		{{/unless}}
		{{#unless feat.flags.obsidian.collapsed}}
		<div class="obsidian-feature-body">{{{clean-formatting feat.obsidian.display}}}</div>
		{{/unless}}
	</div>
	{{#if ../component}}</section>{{/if}}
{{/each}}
