<fieldset>
	<legend>{{localize 'OBSIDIAN.Item'}}</legend>
	<div class="obsidian-form-row-img">
		<div>
			<img class="profile" src="{{item.img}}" alt="{{item.name}}" data-edit="img">
		</div>
		<div>
			<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
				<div class="obsidian-fullwidth">
					<input type="text" class="obsidian-input-compact obsidian-input-lg" name="name"
					       value="{{item.name}}" placeholder="{{localize 'OBSIDIAN.Name'}}">
				</div>
			</div>
			<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
				<div class="obsidian-fullwidth">
					<label class="obsidian-inline">
						<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
						       name="data.weight" data-dtype="Number" placeholder="0" type="text"
						       value="{{item.data.weight}}">
						<span>{{localize 'OBSIDIAN.Weight'}}</span>
					</label>
					<label class="obsidian-inline obsidian-label-icon">
						<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
						       name="data.price" data-dtype="Number" placeholder="0" type="text"
						       value="{{item.data.price}}">
						<span>{{localize 'OBSIDIAN.Cost'}}</span>
						<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
					</label>
				</div>
			</div>
		</div>
	</div>
</fieldset>
