<div class="obsidian-item-card">
	<div class="obsidian-item-card-header">
		<h3>
			{{#if (eq data.level 0)}}
				{{i18n-join 'OBSIDIAN.SpellSchool-' data.school}}
				{{spell-level-format data.level cantrip=true}}
			{{else}}
				{{spell-level-format data.level level=true}}
				{{i18n-join 'OBSIDIAN.SpellSchool-' data.school}}
			{{/if}}
			{{#if data.components.ritual}}
				({{localize 'OBSIDIAN.RitualLC'}})
			{{/if}}
		</h3>
		{{#if (and (gt data.level 0) (gt upcast 0))}}
			<h4>
				{{localize 'OBSIDIAN.CastAtLC'}} {{spell-level-format (add upcast data.level) level=true}}
			</h4>
		{{/if}}
		<div class="obsidian-item-card-header-row">
			<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.CastTime'}}:</div>
			<div class="obsidian-item-card-header-value">
				{{flags.obsidian.time.n}}
				{{lc (i18n-join 'OBSIDIAN.CastTime-' flags.obsidian.time.type)}}
				{{~#if (eq flags.obsidian.time.type 'react')~}}
					, {{flags.obsidian.time.react}}
				{{/if}}
			</div>
		</div>
		<div class="obsidian-item-card-header-row">
			<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Range'}}:</div>
			<div class="obsidian-item-card-header-value">
				{{#if (or (eq flags.obsidian.range.type 'short') (eq flags.obsidian.range.type 'long'))}}
					{{flags.obsidian.range.n}}
					<span class="obsidian-table-unit">
						{{i18n-join 'OBSIDIAN.SpellRangeAbbr-' flags.obsidian.range.type}}
					</span>
				{{else}}
					{{i18n-join 'OBSIDIAN.SpellRange-' flags.obsidian.range.type}}
				{{/if}}
			</div>
		</div>
		<div class="obsidian-item-card-header-row">
			<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Components'}}:</div>
			<div class="obsidian-item-card-header-value">
				{{#if flags.obsidian.components.v~}}
					<div class="obsidian-spell-card-component">{{localize 'OBSIDIAN.VerbalAbbr'}}</div>
				{{~/if~}}
				{{~#if flags.obsidian.components.s~}}
					<div class="obsidian-spell-card-component">{{localize 'OBSIDIAN.SomaticAbbr'}}</div>
				{{~/if~}}
				{{~#if flags.obsidian.components.r~}}
					<div class="obsidian-spell-card-component">{{localize 'OBSIDIAN.RoyaltyAbbr'}}</div>
				{{~/if~}}
				{{~#if flags.obsidian.components.m~}}
					<div class="obsidian-spell-card-component">{{localize 'OBSIDIAN.MaterialAbbr'}}</div>
					<span class="obsidian-table-sub-text">({{data.materials.value}})</span>
				{{/if}}
			</div>
		</div>
		<div class="obsidian-item-card-header-row">
			<div class="obsidian-item-card-header-key">{{localize 'OBSIDIAN.Duration'}}:</div>
			<div class="obsidian-item-card-header-value">
				{{#if data.components.concentration}}
					{{localize 'OBSIDIAN.Concentration'}},
					{{localize 'OBSIDIAN.UpTo'}} {{format-spell-duration this}}
				{{else}}
					{{format-spell-duration this}}
				{{/if}}
			</div>
		</div>
	</div>
	<div class="obsidian-item-card-body">
		{{#if details}}
			{{{clean-formatting details}}}
		{{else}}
			{{{clean-formatting data.description.value}}}
		{{/if}}
	</div>
</div>
