<form class="obsidian {{cssClass}}" autocomplete="off">
	<ul class="obsidian-tab-bar" data-group="main-tabs">
		<li class="obsidian-tab item" data-tab="desc">{{localize 'OBSIDIAN.Description'}}</li>
		<li class="obsidian-tab item" data-tab="stats">{{localize 'OBSIDIAN.Stats'}}</li>
		<li class="obsidian-tab item" data-tab="equipment">{{localize 'OBSIDIAN.CargoEquipment'}}</li>
		<li class="obsidian-tab item" data-tab="crew">{{localize 'OBSIDIAN.PassengerCrew'}}</li>
		<li class="obsidian-tab item" data-tab="effects">{{localize 'OBSIDIAN.Effects'}}</li>
	</ul>
	<div class="obsidian-tab-container tab" data-group="main-tabs" data-tab="desc">
		<section>
			<img class="obsidian-profile-img obsidian-ptr profile" src="{{actor.img}}"
			     title="{{actor.name}}" alt="{{actor.name}}" data-edit="img">
		</section>
		<section>
			<h3>
				{{localize 'OBSIDIAN.Notes'}}
				<a class="obsidian-edit-npc-notes"><i class="fas fa-edit"></i></a>
			</h3>
			<div class="obsidian-rich-text">
				{{editor content=data.details.biography.value button=true editable=editable
				         target='data.details.biography.value'}}
			</div>
		</section>
	</div>
	<div class="obsidian-tab-container obsidian-npc-stats tab" data-group="main-tabs"
	     data-tab="stats">
		<header>
			<input name="name" type="text" value="{{actor.name}}"
			       class="obsidian-char-charname obsidian-condensed"
			       placeholder="{{localize 'OBSIDIAN.Name'}}">
			<div class="obsidian-char-header-minor obsidian-condensed">
				<span>{{i18n-join 'OBSIDIAN.Size-' data.traits.size}}</span>
				<span>{{~lc (localize 'DND5E.Vehicle')~}}</span>
				{{#if actor.flags.obsidian.details.type}}
					<span>
						({{lc (i18n-join 'OBSIDIAN.VehicleType-' actor.flags.obsidian.details.type)}})
					</span>
				{{/if}}
				{{#if data.traits.dimensions}}
					<span>({{lc data.traits.dimensions}})</span>
				{{/if}}
			</div>
			<div class="obsidian-npc-btns">
				<div class="obsidian-npc-btn-row">
					<button type="button" class="
					        {{#if (eq actor.flags.obsidian.sheet.roll 'adv')}}obsidian-btn-active{{/if}}
					        obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet obsidian-btn-positive
					        obsidian-global-advantage">
						{{localize 'OBSIDIAN.Roll-adv'}}
					</button>
					<button type="button" class="
					        {{#if (eq actor.flags.obsidian.sheet.roll 'dis')}}obsidian-btn-active{{/if}}
					        obsidian-btn-outline obsidian-btn-sm obsidian-btn-sheet obsidian-btn-negative
					        obsidian-global-disadvantage">
						{{localize 'OBSIDIAN.Roll-dis'}}
					</button>
				</div>
			</div>
		</header>
		<main>
			<section class="obsidian-npc-stat-block">
				<div class="obsidian-npc-stat-row">
					<div class="obsidian-npc-stat-key">{{localize 'DND5E.VehicleCreatureCapacity'}}</div>
					<div class="obsidian-npc-stat-value obsidian-font-13" contenteditable="true"
					     data-edit="data.attributes.capacity.creature">
						{{data.attributes.capacity.creature}}
					</div>
				</div>
				<div class="obsidian-npc-stat-row" style="height: 17px;">
					<div class="obsidian-npc-stat-key">{{localize 'DND5E.VehicleCargoCapacity'}}</div>
					<div class="obsidian-npc-stat-value obsidian-vehicle-cargo-cap">
						<input type="text" name="data.attributes.capacity.cargo" data-dtype="Number"
						       class="obsidian-input-num obsidian-input-num-md" placeholder="0"
						       value="{{data.attributes.capacity.cargo}}">
						<span class="obsidian-npc-subtle">{{localize 'OBSIDIAN.Tons'}}</span>
					</div>
				</div>

				{{#if landVehicle}}
				<div class="obsidian-npc-stat-row" style="height: 17px;">
					<div class="obsidian-npc-stat-key">{{localize 'OBSIDIAN.AC'}}</div>
					<div class="obsidian-npc-stat-value obsidian-vehicle-ac">
						<input type="text" name="data.attributes.ac.value" data-dtype="Number"
						       class="obsidian-input-num" value="{{data.attributes.ac.value}}"
						       placeholder="&mdash;">
					</div>
				</div>
				<div class="obsidian-npc-stat-row" style="height: 17px;">
					<div class="obsidian-npc-stat-key">{{localize 'OBSIDIAN.HP'}}</div>
					<div class="obsidian-npc-stat-value obsidian-npc-hp">
						<input type="text" name="data.attributes.hp.value" class="obsidian-input-num"
						       value="{{data.attributes.hp.value}}" data-dtype="Number">
						<span class="obsidian-binary-operator" style="color: var(--text-subtle);">&sol;</span>
						<input type="text" name="data.attributes.hp.max" class="obsidian-input-num"
						       value="{{data.attributes.hp.max}}">
					</div>
				</div>
				<div class="obsidian-npc-stat-row" style="height: 17px;">
					<div class="obsidian-npc-stat-key" style="color: transparent">
						{{localize 'OBSIDIAN.HP'}}
					</div>
					<div class="obsidian-npc-stat-value obsidian-vehicle-dt">
						<span class="obsidian-npc-subtle">{{localize 'DND5E.Threshold'}}</span>
						<input type="text" name="data.attributes.hp.dt" class="obsidian-input-num"
						       value="{{data.attributes.hp.dt}}" data-dtype="Number" placeholder="&mdash;">
						<span class="obsidian-npc-subtle">{{localize 'DND5E.VehicleMishap'}}</span>
						<input type="text" name="data.attributes.hp.mt" class="obsidian-input-num"
						       value="{{data.attributes.hp.mt}}" data-dtype="Number" placeholder="&mdash;">
					</div>
				</div>
				{{/if}}

				<div class="obsidian-npc-stat-row">
					<div class="obsidian-npc-stat-key">
						{{#if waterVehicle}}
							{{localize 'OBSIDIAN.TravelPace'}}
						{{else}}
							{{localize 'DND5E.Speed'}}
						{{/if}}
					</div>
					<div class="obsidian-npc-stat-value obsidian-font-13" contenteditable="true"
					     data-edit="data.attributes.speed">
						{{data.attributes.speed}}
					</div>
				</div>

				<div class="obsidian-char-abilities">
					{{#each data.abilities}}
						<div class="obsidian-char-ability">
							<div class="obsidian-char-ability-name rollable obsidian-condensed"
							     data-roll="abl" data-abl="{{@key}}" draggable="true">
								{{i18n-join 'OBSIDIAN.AbilityAbbr-' @key}}
							</div>
							<div class="obsidian-char-ability-mod">
								{{numberFormat mod decimals=0 sign=true}}
							</div>
							{{#with (lookup ../actor.obsidian.abilities @key)}}
								<input type="text" value="{{value}}" placeholder="10" name="abl-facade-{{@key}}"
								       class="obsidian-char-ability-score
									{{#if (gt value ../value)}}
										obsidian-positive
									{{else if (lt value ../value)}}
										obsidian-negative
									{{/if}}">
							{{/with}}
							<input name="data.abilities.{{@key}}.value" type="hidden" value="{{value}}"
							       data-dtype="Number">
						</div>
					{{/each}}
				</div>
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-npc-saves">
					<strong>{{localize 'OBSIDIAN.Saves'}}</strong>
					{{#each data.abilities}}
						<div class="obsidian-npc-stat-li">
							<span class="rollable" data-roll="save" data-save="{{@key}}" draggable="true">
								{{i18n-join 'OBSIDIAN.AbilityAbbr-' @key}}
							</span>
							{{numberFormat save decimals=0 sign=true~}}
						</div>
					{{/each}}
				</div>
				{{#if actor.obsidian.defenses.display.damage.vuln}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Defenses">
					<strong>{{localize 'OBSIDIAN.DamageVulnerabilities'}}</strong>
					{{{lc actor.obsidian.defenses.display.damage.vuln}}}
				</div>
				{{/if}}
				{{#if actor.obsidian.defenses.display.damage.res}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Defenses">
					<strong>{{localize 'OBSIDIAN.DamageResistances'}}</strong>
					{{{lc actor.obsidian.defenses.display.damage.res}}}
				</div>
				{{/if}}
				{{#if actor.obsidian.defenses.display.damage.imm}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Defenses">
					<strong>{{localize 'OBSIDIAN.DamageImmunities'}}</strong>
					{{{lc actor.obsidian.defenses.display.damage.imm}}}
				</div>
				{{/if}}
				{{#if actor.obsidian.defenses.display.conditions.imm}}
				<div class="obsidian-npc-stat-runon obsidian-font-13 obsidian-ptr" data-dialog="Defenses">
					<strong>{{localize 'OBSIDIAN.ConditionImmunities'}}</strong>
					{{{lc actor.obsidian.defenses.display.conditions.imm}}}
				</div>
				{{/if}}
				<div class="obsidian-npc-configure">
					<div data-dialog="Defenses">
						{{localize 'OBSIDIAN.Defenses'}} <i class="fas fa-cog"></i>
					</div>
					<div data-dialog="VehicleFeatures">
						{{localize 'OBSIDIAN.Features'}} <i class="fas fa-cog"></i>
					</div>
				</div>
			</section>
			{{#if featCategories.none}}
				<section>
					{{> modules/obsidian/html/components/features.html feats=featCategories.none}}
				</section>
			{{/if}}
			{{#if featCategories.action}}
				<section>
					{{#if landVehicle}}
						{{> modules/obsidian/html/components/features.html feats=featCategories.action
								heading='DND5E.VehicleActionStations'}}
					{{else if waterVehicle}}
						{{> modules/obsidian/html/components/features.html feats=featCategories.action
								heading='OBSIDIAN.Actions' subtext=actor.flags.obsidian.actions}}
					{{/if}}
				</section>
			{{/if}}
			{{#if featCategories.component}}
				{{> modules/obsidian/html/components/features.html feats=featCategories.component
						component=true}}
			{{/if}}
			{{#if featCategories.reaction}}
				<section>
					{{> modules/obsidian/html/components/features.html feats=featCategories.reaction
							heading='OBSIDIAN.Reactions'}}
				</section>
			{{/if}}
		</main>
	</div>
	{{> modules/obsidian/html/tabs/equipment.html}}
	{{> modules/obsidian/html/tabs/crew.html}}
	{{> modules/obsidian/html/tabs/effects.html}}
</form>
